<mat-card class="post">
    <mat-card-content>
        <form [formGroup]="PostForm" #postForm>
            <mat-form-field>
                <input formControlName="title" type="text" matInput placeholder="Title" autocomplete="off">
            </mat-form-field>
            <mat-form-field style="width: 100%;" floatLabel="never">
                <!-- <mat-label>HEY</mat-label> -->
                <textarea BlogBody formControlName="body" rows="8" matInput placeholder="Hey Yeah Yahoo !!"
                    autocomplete="off"></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align='end'>
        <button [disabled]="PostForm.value.title == '' || PostForm.value.body == '' " mat-button (click)="PostBlog(postForm)">POST</button>
    </mat-card-actions>
</mat-card>