li{
    float: left;
}

ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
    top: 0;
    position: sticky;
    z-index: 2;
}

li a{
    font-size: 1.3rem;
    display: block;
    color: white;
    text-align: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
}

li a:hover{
    color: lightgray;
}

.cotentBody{
    z-index: 1;
    margin-top: 2rem;
}