.mat-card{
    margin: 0.6rem auto;
}

.blog{
    width: 40rem;
    height: 10rem;
}

.dropdown{
    margin: 0 0 0 auto;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f7f7;
    min-width: 5rem;
    box-shadow: 0px 8px 16px 0px rgba(136, 136, 136, 0.2);
    right: 0;
  }
  
.dropdown-content a{
    color: black;
    padding: 0.4rem 2rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}  
.dropdown-content a:hover {background-color: #ddd}

::ng-deep .hashtag{
    color: rgb(132, 153, 247);
    cursor: pointer;
}

::ng-deep .hashtag:hover{
    text-decoration: underline;
}

.show{
    display: block;
}