.content{
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
}

.rank{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0.7rem;
    position: fixed;
}

.feed{
    flex-direction: column;
    display: flex;
    padding: 1rem 0.4rem;
    margin: 0 auto;
    width: 50rem;
    background-color: white;
}

